<html layout:decorate="~{domain/global/layout/layout}">

<div layout:fragment="content" class="p-2">
    <h1 class="font-bold text-center mb-2"><i class="fa-regular fa-newspaper"></i> 글 내용</h1>

    <div class="mt-2">
        <div class="badge badge-outline" th:text="${post.id}">default</div>
        <span th:text="${post.title}"></span>
    </div>
    <div class="mt-2" th:text="${post.body}"></div>
    <!--<div>
        <ul class="list-outside list-disc ...">
            <li th:each="comment : ${post.commentList}" th:text="${comment.content}"></li>
        </ul>
    </div>-->
    <div class="overflow-x-auto mt-5">
        <table class="table">
            <thead>
            <tr th:text="|${#lists.size(post.commentList)}개의 답변이 있습니다.|">
                <th>제목</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comment : ${post.commentList}">
                <td th:text="${comment.content}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <form th:action="@{|/comment/write/${post.id}|}" th:object="${commentForm}" method="post" class="mt-5">
        <div th:replace="~{domain/global/error/form_errors :: formErrorsFragment}"></div>
        <textarea th:field="*{content}" rows="15" class="border-2 border-gray-500 focus:outline-none focus:border-black-500 rounded-md"></textarea>
        <input type="submit" class="mt-5 btn btn-outline" value="답변등록">
    </form>
</div>
</html>
