<html layout:decorate="~{domain/global/layout}">

<div layout:fragment="content" class="p-2">
    <h1 class="font-bold text-center mb-2"><i class="fa-regular fa-newspaper"></i> 질문등록</h1>
    <form th:action="@{/post/write}" th:object="${postForm}" method="post" class="mt-5">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" th:field="*{title}" name="title" id="title" class="form-control border-2 border-gray-500 focus:outline-none focus:border-black-500 rounded-md">
        </div>
        <div class="mb-3">
            <label for="body" class="form-label">내용</label>
            <textarea name="body" th:field="*{body}" id="body" rows="15" class="border-2 border-gray-500 focus:outline-none focus:border-black-500 rounded-md"></textarea>
        </div>
        <!--<label for="isPublished" class="form-label">Published</label>
        <input type="checkbox" id="isPublished" name="isPublished" value="true">-->
        <br>
        <input type="submit" class="mt-5 btn btn-outline" value="저장하기">
    </form>
</div>
</html>
