<html layout:decorate="~{domain/global/layout/layout}">

<div layout:fragment="content" class="p-2">
    <h1 class="font-bold text-center mb-2"><i class="fa-solid fa-pen"></i> 댓글 수정</h1>
    <form th:object="${commentForm}" method="post" class="mt-5">
        <div th:replace="~{domain/global/error/form_errors :: formErrorsFragment}"></div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="mb-3">
            <label for="body" class="form-label">내용</label>
            <textarea name="body" th:field="*{content}" id="body" rows="15" class="border-2 border-gray-500 focus:outline-none focus:border-black-500 rounded-md"></textarea>
        </div>
        <br>
        <input type="submit" class="mt-5 btn btn-outline" value="저장하기">
    </form>
</div>
</html>
